.region {
    cursor: pointer;
}

.region:hover {
    stroke: white;
    stroke-width: 1px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    color: black;
    width: 275px;
    height: 37px;
    padding: 2px;
    font: 12px sans-serif;
    background: grey;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

#svg {
    display: block;
    margin: auto;
}