.region {
    cursor: pointer;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

.region:hover {
    stroke: black;
    stroke-width: 1.8px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 275px;
    height: 37px;
    padding: 2px;
    font: 12px sans-serif;
    background: black;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;

}

#svg {
    display: block;
    margin: auto;
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
